{% load static %}
<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <link rel="stylesheet" href="{% static 'css/base.css' %}">

    <title>{% block title %}首页{% endblock %}</title>
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>

    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </head>
  <body style="padding-top:50px">
      <nav class="navbar navbar-default navbar-fixed-top navbar-inverse">
          <div class="container">
              <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                  </button>
                  <a class="navbar-brand" href="/{{ username }}">Kylin</a>
              </div>
              <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                  <ul class="nav navbar-nav">
                      <li><a href="/{{ username }}">首页 <span class="sr-only">(current)</span></a></li>
                      {% for nav in nav_cate %}
                        <li><a href="{% url 'category_post_list' username nav.id %}">{{ nav.name }}</a></li>
                      {% endfor %}
                      <li class="dropdown">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">关于我<span class="caret"></span></a>
                          <ul class="dropdown-menu">
                              <li><a href="#">个人简介</a></li>
                              <li role="separator" class="divider"></li>
                              <li><a href="#">github</a></li>
                          </ul>
                      </li>
                  </ul>
             
                  <form class="navbar-form navbar-right" action="/search" method="GET">
                  <div class="form-group">
                      <input type="text" name="q" class="form-control" placeholder="Search">
                      <input type="hidden" name="username" value="{{ username }}">
                  </div>
                  <button type="submit" class="btn btn-default">Submit</button>
              </form>
              </div>
          </div>
      </nav>

      <div class="page-header">
          <div class="container">
              <h1>Kylin的技术博客<small>python,web学习分享</small></h1>
          </div>
      </div>
      <nav>
          <div class="container">
              <ul class="nav nav-pills" style="border-bottom:1px solid #C0C0C0">
                  <li role="presentation"><a href="/{{ username }}">首页</a></li>
                  {% for nav in nav_cate %}
                    <li role="presentation"><a href="{% url 'category_post_list' username nav.id %}">{{ nav.name }}</a></li>
                  {% endfor %}
              </ul>
          </div>
      </nav>
      <div class="content">
          <div class="container">
            <div class="row">
                <div class="col-md-9">
                    {% block content %}{% endblock %}
                </div>
                <div class="col-md-3">
                    {% if sidebars.notices %}
                        <div>
                            <h3>{{ sidebars.notices.title }}</h3>
                            <div>
                                {% autoescape off %}
                                {{ sidebars.notices.content }}
                                {% endautoescape %}
                            </div>
                        </div>
                    {% endif %}

                    <div>
                        <h3>标签</h3>
                        <ul class="list-inline">
                            {% for tag in tags %}
                                <li><a href="{% url 'tag_post_list' username tag.id %}">{{ tag.name }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>

                    <div>
                        <h3>分类</h3>
                        <ul class="list-unstyled">
                            {% for cate in cates %}
                                <li><a href="{% url 'category_post_list' username cate.id %}">{{ cate.name }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>

                    {% if sidebars.recently_post %}
                        {% if recently_post %}
                        <div>
                            <h3>{{ sidebars.recently_post.title }}</h3>
                            <ul class="list-unstyled">
                                {% for post in recently_post %}
                                    <li><a href="{% url 'post_detail' username post.id %}">{{ post.title }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                        {% endif %}
                    {% endif %}

                </div>
            </div>
          </div>
      </div>
      {% block footer %}
      {% endblock %}
  </body>
</html>
