{% extends "post/base.html" %}

{% block title %}
    {{ title }}
{% endblock %}
{% block content %}
    {% if posts %}
        {% for post in posts %}
        <div class="post-item">
            <div class="post-title">
                <h3>
                    {% if post.weight == 1 %}
                        [置顶]
                    {% endif %}
                    <a href="{% url 'post_detail' username post.id %}">{{ post.title }}</a>
                </h3>
            </div>
            <div class="post-content">
                <div>
                    <p>
                        {% autoescape off %}
                        {{ post.desc }}
                        {% endautoescape %}
                        
                        <a href="{% url 'post_detail' username post.id %}">继续阅读</a>
                    </p>
                </div>
            </div>
            <div class="post-desc">
                posted @ {{ post.created_time }}  阅读({{ post.pv }}) 评论(19) 
                <a href="/xadmin/selfblog/post/{{ post.id }}/update/">编辑</a>
            </div>
            <hr style="border-bottom:1px solid #C0C0C0" />
        </div>
        {% endfor %}
    {% else %}
        这个页面暂时没有东西哦!
    {% endif %}
    <nav aria-label="Page navigation">
      <ul class="pagination">
      {% if page_obj.has_previous %}
          {% if q %}
          <li><a href="?page=1&q={{ q }}&username={{ username }}">首页</a></li>
          <li><a href="?page={{ page_obj.previous_page_number }}&q={{ q }}&username={{ username }}">上一页</a></li>
          {% else %}
          <li><a href="?page=1">首页</a></li>
          <li><a href="?page={{ page_obj.previous_page_number }}">上一页</a></li>
          {% endif %}
      {% endif %}

      <li><a>第{{ page_obj.number }}页总{{ paginator.num_pages }}页</a></li>

      {% if page_obj.has_next %}
          {% if q %}
          <li><a href="?page={{ page_obj.next_page_number }}&q={{ q }}&username={{ username }}">下一页</a></li>
          <li><a href="?page={{ paginator.num_pages }}&q={{ q }}&username={{ username }}">尾页</a></li>
          {% else %}
          <li><a href="?page={{ page_obj.next_page_number }}">下一页</a></li>
          <li><a href="?page={{ paginator.num_pages }}">尾页</a></li>
          {% endif %}
      {% endif %}

      </ul>
    </nav>

{% endblock %}

{% block footer %}
<footer class="main-footer">
  <div class="container">
      <div class="row">
          <div class="friendlink">
              <ul class="nav nav-pills">
                  <li role="presentation"><a href="/{{ username }}">Home</a></li>
                  {% for link in links %}
                      <li role="presentation"><a href="{{link.href}}" target="_blank">{{ link.title }}</a></li>
                  {% endfor %}
              </ul>
          </div>
      </div>
  </div>
</footer>
<div class="copyright">
  <div class="container">
      <div class="row">
          <div class="col-sm-12">
              <span>Copyright © <a href="#">Kylin</a></span> |
              <span><a href="//www.the5fire.com" target="_blank">京ICP备11008151号</a></span> |
              <span>京公网安备11010802014853</span>
          </div>
      </div>
  </div>
</div>
{% endblock %}
